body{
    padding-top: 80px;
    font-family: "Open Sans", sans-serif;

}
@media (max-width: 991px){
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.125rem;
    }
}
.fixed-top{
    line-height: 27px;
}
@media (max-width: 991px){
    .small{
        font-size: inherit;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .small{
        line-height: 40px;
    }
}

@media (min-width: 768px){
.fixed-top{
    line-height: 78px;
}
}

/*banner*/
#banner{
    background: url(images/bg-rotate.png) no-repeat scroll center / cover;
}

@media (min-width: 768px){
#banner{
    background-position-x: 10%;

}
}
@media (min-width: 992px){
    #banner{
        height: 560px;
        background: url(images/bg.png) no-repeat scroll center / cover;
        background-position-x: 100%;
    
    }
    }
    


.bg-parallax{
    background-image: url(images/number-style.jpg);
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    width: 100%;
    height: 100%;
    background: rgba(36, 160, 222,0.8);
}
/*TABS*/
.nav-tabs, .nav-tabs .nav-link.active,.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: #fff;
}
.nav-tabs a{
    color: #c9c9c9;
}
.nav-tabs a:hover{
    color:rgb(36, 160, 222);
}
@media (max-width: 1199px) and (min-width: 992px){
 p#free-vebinar {
    min-height: 72px;
}
}
@media (max-width: 991px) and (min-width: 768px){
    p#free-vebinar {
       min-height: 96px;
   }
   }